@using YPM.SuretVarlik.Mulk.Model.Urun.Kategori
@model IEnumerable<UrunKategoriModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "UrunKategoriListele";
}

<h2>UrunKategoriListele</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <ul>
        @foreach (var kat1 in Model.Where(model => model.UstKategoriId.Equals(0)))
        {
            <li>
                @Html.DisplayFor(modelItem => kat1.Ad)
                <ul>

                    @foreach (var kat2 in Model.Where(model => model.UstKategoriId.Equals(kat1.KategoriId)))
                    {
                        <li>
                            @Html.DisplayFor(modelItem => kat2.Ad)
                            <ul>
                                @foreach (var kat3 in Model.Where(model => model.UstKategoriId.Equals(kat2.KategoriId)))
                                {
                                    <li>
                                        @Html.DisplayFor(modelItem => kat3.Ad)
                                        <ul>
                                            @foreach (var kat4 in Model.Where(model => model.UstKategoriId.Equals(kat3.KategoriId)))
                                            {
                                                <li>@Html.DisplayFor(modelItem => kat4.Ad) </li>
                                            }
                                        </ul>

                                    </li>
                                }
                            </ul>

                        </li>
                    }

                </ul>
            </li>
        }
    </ul>

</div>


@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ad)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kat1 in Model.Where(model => model.UstKategoriId.Equals(0)))
            {
                <tr>
                    <td></td>
                </tr>
                foreach (var kat2 in Model.Where(model => model.UstKategoriId.Equals(kat1.KategoriId)))
                {
                    <tr>
                        <td>
                            <i>@Html.DisplayFor(modelItem => kat2.Ad)</i>
                        </td>
                    </tr>

                    foreach (var kat3 in Model.Where(model => model.UstKategoriId.Equals(kat2.KategoriId)))
                    {
                        <tr>
                            <td>
                                <i>@Html.DisplayFor(modelItem => kat3.Ad)</i>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>*@
