@using YPM.SuretVarlik.Mulk.Suret.Urun.Kategori
@model IEnumerable<UrunOzellikSuret>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "OzellikDetay";
    Layout = "~/Views/Shared/_AnaCerceve.cshtml";
}

<h2>OzellikDetay</h2>

<form asp-controller="qwe" asp-action="qwe" asp-area="qwe" method="post" class="form-horizontal" role="form">
    <fieldset class="form-group">


        <div class="checkbox checkboxlist col-sm-9">



            <div class="table-responsive">
                <table class="table table-hover  table-striped">
                    <thead>
                        <tr>
                            <th>  @Html.DisplayNameFor(model => model.SeciliMi)</th>
                            <th> @Html.DisplayNameFor(model => model.Ad)</th>
                            <th>  @Html.DisplayNameFor(model => model.KategoriSayisi)</th>
                            <th> @Html.DisplayNameFor(model => model.OzellikSayisi)</th>
                            <th>  @Html.DisplayNameFor(model => model.Durum)</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    <input asp-for="@item.SeciliMi" type="checkbox" />
                                    <input asp-for="@item.SeciliMi" type="hidden" />
                                </td>
                                <td>
                                    <label asp-for="@item.UrunOzellikId">@item.UrunOzellikId</label>
                                    <input asp-for="@item.UrunOzellikId" type="hidden" />
                                </td>
                                <td>
                                    <label asp-for="@item.UrunOzellikId">@item.Ad</label>
                                    <input asp-for="@item.UrunOzellikId" type="hidden" />
                                </td>
                                <td>
                                    <label asp-for="@item.KategoriSayisi">@item.KategoriSayisi</label>
                                    <input asp-for="@item.KategoriSayisi" type="hidden" />
                                </td>
                                <td>

                                    <label asp-for="@item.OzellikSayisi">@item.OzellikSayisi</label>
                                    <input asp-for="@item.OzellikSayisi" type="hidden" />

                                </td>
                                <td>
                                    <label asp-for="@item.Durum">

                                        @{
                                            if (item.Durum)
                                            {<span>Aktif</span>}
                                            else
                                            { <span>Pasif</span>}
                                        }

                                    </label>
                                    <input asp-for="@item.Durum" type="hidden" />
                                </td>
                                <td>

                                    <a asp-area="admin" asp-controller="urunkategori" asp-action="qwe" asp-route-Id="@item.UrunOzellikId" class="btn btn-sm btn-danger">Duzenle</a>
                                    <a asp-area="admin" asp-controller="urunkategori" asp-action="qwe" asp-route-Id="@item.UrunOzellikId" class="btn btn-sm btn-info">Durumu Değiştir</a>
                                    <a asp-area="admin" asp-controller="urunkategori" asp-action="qwe" asp-route-Id="@item.UrunOzellikId" class="btn btn-sm btn-default">Sil</a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>

            </div>


        </div>
        <div class="form-group">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <input type="submit" id="submit1" value="Duzenle" class="btn btn-sm btn-success" />
            </div>
        </div>
    </fieldset>
</form>
