@using YPM.SuretVarlik.Mulk.Suret.Urun.Kategori
@model IEnumerable<UrunOzellikSuret>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "Ozellik";
    Layout = "~/Views/Shared/_AnaCerceve.cshtml";
}


@section scripts
    {
    <script type="text/javascript">
        $(function () {
            $('#TumunuSec').click(function (event) {
                if (this.checked) {
                    $(':checkbox').each(function () {
                        this.checked = true;
                    });
                } else {
                    $(':checkbox').each(function () {
                        this.checked = false;
                    });
                }
            });
        });



        Islem.Deneme();

    </script>
}

<h2>Ozellik</h2>

<p>
    <a asp-action="qwe" class="btn btn-sm btn-success">Yeni Oluştur</a>
    <a asp-action="qwe" class="btn btn-sm btn-warning">Durumu Değiştir</a>
    <a asp-action="qwe" class="btn btn-sm btn-danger">Sil</a>
</p>

<form asp-controller="qwe" asp-action="qwe" asp-area="qwe" method="post" class="form-horizontal" role="form">
    <fieldset class="form-group">
        <div class="checkbox checkboxlist col-sm-9">
            <div class="table-responsive">
                <table class="table table-hover  table-striped">
                    <thead>
                        <tr>
                            <th><input for="TumunuSec" type="checkbox" name="TumunuSec" id="TumunuSec" /></th>
                            <th>@Html.DisplayNameFor(model => model.SeciliMi)</th>
                            <th>@Html.DisplayNameFor(model => model.Ad)</th>
                            <th>@Html.DisplayNameFor(model => model.KategoriSayisi)</th>
                            <th>@Html.DisplayNameFor(model => model.OzellikSayisi)</th>
                            <th>@Html.DisplayNameFor(model => model.Durum)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    <input asp-for="@item.SeciliMi" type="checkbox" />
                                    <input asp-for="@item.SeciliMi" type="hidden" />
                                </td>
                                <td>
                                    <label asp-for="@item.UrunOzellikId">@item.Ad</label>
                                    <input asp-for="@item.UrunOzellikId" type="hidden" />
                                </td>
                                <td>
                                    <label asp-for="@item.KategoriSayisi">@item.KategoriSayisi</label>
                                    <input asp-for="@item.KategoriSayisi" type="hidden" />
                                </td>
                                <td>

                                    <label asp-for="@item.OzellikSayisi">@item.OzellikSayisi</label>
                                    <input asp-for="@item.OzellikSayisi" type="hidden" />

                                </td>
                                <td>
                                    <label asp-for="@item.Durum">

                                        @{
                                            if (item.Durum)
                                            {<span>Aktif</span>}
                                            else
                                            { <span>Pasif</span>}
                                        }

                                    </label>
                                    <input asp-for="@item.Durum" type="hidden" />
                                </td>
                                <td>

                                    <a asp-area="admin" asp-controller="urunkategori" asp-action="qwe" asp-route-Id="@item.UrunOzellikId" class="btn btn-sm btn-default">Duzenle</a>
                                    <a asp-area="admin" asp-controller="urunkategori" asp-action="qwe" asp-route-Id="@item.UrunOzellikId" class="btn btn-sm btn-warning">Durumu Değiştir</a>
                                    <a asp-area="admin" asp-controller="urunkategori" asp-action="qwe" asp-route-Id="@item.UrunOzellikId" class="btn btn-sm btn-danger">Sil</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</form>
