@using YPM.SuretVarlik.Mulk.Model.Urun.Kategori
@model IEnumerable<UrunKategoriAracTipModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="col-md-8" style="background-color:#ddd;">
    <h2>AracTipListele</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AracTipAd)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AracTipAd)
                    </td>
                    <td>
                        <a asp-area="admin" asp-controller="UrunKategori" asp-action="AracSil" asp-route-id="@item.Id">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>



